<form class="form-horizontal">
   <div class="form-group">
      <label for="country" class="col s2 control-label">Country </label>
      <div class="col s7">
         <select ng-model="location.Country" ng-options="obj.id as obj.country for obj in countries" ng-change="getStatesByCountry()" class="form-control" ng-required="true" id="country">
            <option value="">Choose Country</option>
         </select>
      </div>
   </div>
   <div class="form-group">
      <label for="state" class="col s2 control-label">State </label>
      <div class="col s7">
         <select ng-model="location.State" ng-options="x.id as x.state for x in sates" ng-change = "getCitiesByStates()" class="form-control" ng-required="true" id="state">
            <option value="">Choose State</option>
         </select>
      </div>
   </div>
   <div class="form-group">
      <label for="city" class="col s2 control-label">City </label>
      <div class="col s7">
         <select  ng-model="location.City" ng-options="x.id as x.city for x in cities" class="form-control" ng-required="true" id="city">
            <option value="">Choose City</option>
         </select>
      </div>
   </div class="form-group">
   <div class="center">
      <button class="waves-effect waves-light btn" ng-click="getAllData()">Submit</button>
   </div>
</form>

<div class="card">
   <div class="card-content black-text center">
      <img src="http://placehold.it/150x150" class="img-container"><br>
      <span class="card-title">User Name</span>
      <hr>
      <p>Criteria</p>
      <hr>
      <a href="#" class="waves-effect waves-light btn">Fail</a>
      <a href="#" class="waves-effect waves-light btn">Pass</a>
   </div>
</div>
