<div class="form-group">
   <label for="company" class="col s2 control-label">Company </label>
   <div class="col s10">
      <ui-select ng-model="details.Company" theme="selectize" title="Choose a country">
         <ui-select-match placeholder="Select or Search a country">{{$select.details.Company.company}}</ui-select-match>
         <ui-select-choices repeat="company in companies | filter: $select.search">
            <strong>{{company.company}}</strong>
         </ui-select-choices>
      </ui-select>
   </div>
   <h6>Selected: {{details.Company.company}}</h6>
</div>

<div class="form-group">
   <label for="trainee" class="col s2 control-label">Trainee </label>
   <div class="col s10">
      <ui-select ng-model="details.Trainee" theme="selectize" title="Select a Trainee">
         <ui-select-match placeholder="Select or Search a Trainee">{{$select.details.Trainee.trainee}}</ui-select-match>
         <ui-select-choices repeat="trainee in newTraineeList | filter: $select.search">
            <strong>{{trainee.trainee}}</strong>
         </ui-select-choices>
      </ui-select>
   </div>
   <h6>Selected: {{details.Trainee.trainee}}</h6>
</div>

<div class="row">
   <div ng-repeat="trainee in newData.Trainee" ng-show="showInitial">
      <div class="col s12 m6 l4">
         <div class="card">
            <div class="card-content black-text center">
               <img src="http://placehold.it/100x100" class="img-container"><br>
               <span class="card-title"><strong>{{trainee.trainee}}</strong></span>
               <hr>
               <h6>Company: {{newData.Company[0].company}}</h6>
               <hr>
               <div ng-repeat="cri in criteria">
                  <div ng-if="criteria_index == $index">
                     <h5>Criteria: {{cri}}</h5>
                     <h6><span ng-click="previous(cri, trainee.id)" class="left glyphicon glyphicon-chevron-left"></span> Status: {{trainee[cri]}} <span ng-click="next(cri, trainee.id)" class="right glyphicon glyphicon-chevron-right"></span></h6>
                     <a class="waves-effect waves-light btn" ng-click="passFail(cri, trainee.id, 'fail')">Fail</a>
                     <a class="waves-effect waves-light btn" ng-click="passFail(cri, trainee.id, 'pass')">Pass</a>
                     <hr>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
